.App {
  text-align: center;
}

#navbar {
  background-color: grey;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#navButton {
  padding: 8px 15px 8px 15px;
  color: white;
  text-decoration: none;
}

#navButton:hover {
  background-color: rgb(202, 202, 202);
  color: black;
}

.projectsList {
  margin: auto;
}

.projectRow {
  display: grid;
  grid-template-columns: 100px auto 100px 100px 40px 40px;
  column-gap: 5px;
  align-items: center;
  padding: 5px;
}

.gridProjectNo {
  grid-column: 1 / 2;
}

.gridProjectName {
  grid-column: 2 / 3;
  text-align: left;
}

.gridProjectHours {
  grid-column: 3 / 4;
}

.gridProjectStatus {
  grid-column: 4 / 5;
}

.gridEditButton {
  grid-column: 5 / 6;
  color: navy;
  align-items: center;
  padding: 0;
}

.gridDeleteButton {
  grid-column: 6 / 7;
  color: darkred;
  align-items: center;
  padding: 0;
  padding-top: 1px;
}
